<link rel="stylesheet" href="<%= assetPath('css/user_profile.css') %>" >

<!-- Only add variable parts -->
<h1>Placement Cell / Profile Page</h1>
<p>Name: <%= user.name %></p>
<p>Email: <%= user.email %></p>


<!-- we an also use script tag here -->