*{
    padding: 0;
    margin: 0;
    text-align: center;
}
body{
    background-color: rgb(194 191 239);
    /* background-image: linear-gradient(to right ,rgb(93 58 179), rgb(29 81 202)); */
    overflow: hidden;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box{
    /* border: 2px solid red; */
    height: 85vh;
    flex-direction: column;
    justify-content: center;
}

.red-btn{
    background-color: red;
    border: 2px solid red;
    border-radius: .2rem;
    color: white;
    font-weight: bold;
}

.red-btn:hover{
    background-color: rgb(225, 4, 4);
}